.container{
  position: relative;
  margin: 0 auto;
}
.draw-container, .guess-container{
  position: relative;
}
.run {
  color: #f76c6c;
  font-family: 'Acme', sans-serif;
  font-size: 1em;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 5px #374785;
}

.run:hover{
  background-color: #f8e9a1;
  transform: scale(1.2);
}

.draw-word {
  /* margin-top: 50px; */
  font-size: 1.5em;
  color: #374785;
}
.draw-word > span {
  margin-left: 10px;
  font-size: 2em;
  color: #f76c6c;
}
.time {
  margin-top: 0vh;
  font-size: 1.5em;
  color: #f8e9a1;
}
.time > span {
  font-size: 2em;
  color: #f76c6c;
}

.message {
  background-color: #f76c6c;
  width: 300px;
  margin: 5px auto;
  border-radius: 10px;
  margin-bottom: 15px;
}
.draw {
  /* width: 62%; */
  /* margin: 0 8px; */
  width: 700px;
  height: 550px;
  border-radius: 5px;
  box-shadow: 0 0 0 10px #374785;
  /* margin-bottom: 5vh; */
  padding: 5px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right:
}
.clear, .undo{
  margin: 5px;
  width: 30px;
  height: 30px;

}
.drawPanel {
  margin: auto;
  margin-bottom: 6px;
  border-radius: 10px;
}

.messageBox {
  margin: 10px;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  font-size: 1em;
  color: #374785;
  font-family: 'Acme', sans-serif;
  background-color:rgba(83, 78, 79, 0.49);
}

.answer {
  width: 70px;
  height: 30px;
  background-color: #24305e;
  font-size: 1em;
  font-family: 'Acme', sans-serif;
  color: white;
  border-radius: 5px;
}
.answer:hover{
  color: #f8e9a1;
  transform: scale(1.2);
}

.success {
  font-size: 10em;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #f76c6c;
}
