.showpage {
  margin: 0 auto;
  width: 100%;
  height: auto;
  border: 1px solid black;
  border: 10px solid #374785;
  border-radius: 10px;
}

.showpage > img {
  display: block;
  width: 100%;
  object-fit: cover;
}

h3 {
  padding-left: 10px;
  font-size: 1.5em;
  color: #f8e9a1;
}

p {
  margin: 0 auto;
  font-size: 1.5em;
  text-align: justify;

  padding-left: 10px;
  margin-bottom: 15px;
}
.intro {
  font-size:1.5em;
  color: #f76c6c;
}
