.playrooms-container, .users-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.playrooms {
  border: 1px solid black;
  width: 10vw;
  height: 10vh;
}
.users {
  border: 1px solid black;
  width: 5vw;
  height: 5vh;
}

.message > h2 {
  margin-left: 10px;
  color: #f76c6c;
}

#loginLink {
  text-decoration: none;
  color: #374785;
}

#loginLink:hover {
  color: #f8e9a1;
}
