@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
body {
  margin: auto;
  font-family: 'Acme', sans-serif;


  background-color: #a8d0e6;
  /* min-width: 1000px; */
  min-height: 100%;
  /* background-image: url(image/background.jpg); */
  /* background-size: cover; */
  /* padding: 10px; */
}
