@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

body {
  margin: auto;
  font-family: 'Acme', sans-serif;

  height: 100vh;
  background-color: #a8d0e6;
  min-width: 450px;
  min-height: 100vh;
  margin-left: 10px;
  margin-right: 10px;
}
